<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Student</title>
  <link rel="stylesheet" href="/static/Addstud.css">
</head>
<body>
  <div class="container">
    <div class="section">
      <form action="" method="post" enctype="multipart/form-data" class="form-box">
        {%csrf_token%}
        {{form}}
        <div class="profile">
          <img src="/media/img/ssss.png" alt="" id="imgProfile">
        </div>
        <input type="submit" value="Add Student" onclick="showAlert()">
      </form>
    </div>
    <a href="{% url 'home' %}" class="go-back">GO BACK TO HOMEPAGE</a>
    <a href="{% url 'viewstud' %}" class="button-link">View Records</a>
  </div>
</body>
<script>
  let img = document.getElementById('imgProfile');
  let btn = document.getElementById('id_image');

  btn.addEventListener('change', () => {
    img.src = URL.createObjectURL(btn.files[0]);
  })

  function showAlert() {
    alert("Successfully Added a New Student");
  }
</script>
</html>