body {
  font-family: Arial, sans-serif;
  background:linear-gradient(45deg,black,#EEC3C2,#4A2720,#EEC3C2,black);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  text-align: left;
  color: #555;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007bff;
  display: block;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

.postContainer {
  margin-top: 20px;
  text-align: center;
}

.imgHold {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

#postImg {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

#postcon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 15px 57px;
}
