body{
  background: #EEC3C2;
}

.container {
  width: 80%;
  margin:auto;
  background:linear-gradient(45deg,#4A2720,#4A2720);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 0px 8px black);
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box{
  position: absolute;
  height: 820px;
  width: 700px;
  background-color: #333;
  display: grid;
  place-content: center;
  transform: translate(118px, -132px);
}

.edit-form { 
  display: none; opacity: 0; 
  transition: opacity 0.3s ease; 
  background: black;
  padding: 40px 76px;
  border-radius: 5px; 
  margin-top: 10px; 
  height: 300px;
} 
.edit-form #id_content { 
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
  position: relative;
  padding: 20px;
  height: 100px;
  left: 170px;
}

.edit-form label{
  position: relative;
  top: -130px;
  left: -5px;
  color: white;
}

.edit-form form{
  background:linear-gradient(45deg, black, rgb(126, 66, 66),black);
  padding: 5px 39px;
}

.comments button:hover {
  background-color: #45a049;
}

.edit-form form button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  box-shadow: 0px 0px 15px white;
  border-radius: 4px;
}

.edit-form button:hover {
  background-color: #45a049;
}

.btnEdit{
  display: block;
  margin-top: 51px;
  padding: 0px 20px;
  border: none;
  border-radius: 4px;
  background-color:#45a049;
  height: 33px;
}

.btnDel{
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
}
.comments {
  width: 85%;
  position: relative;
  background: black;
  padding: 36px;
  left: 5px;
  top: 20px;
  box-shadow: 0px 0px 15px white;
  margin-bottom: 40px;
  height: 50px;
}

.comments textarea{
  height: 40px;
  font-size: 20px;
  position: relative;
  bottom: 40px;
  right: 77px;
  width: 80%;
}

#AddCommBtn{
  height: 47px;
  width: 86px;
  background: linear-gradient(45deg, black, white, black);
  position: relative;
  bottom: 106px;
  left: 434px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  display: block;
  padding: 10px 20px;
  color: black;
  border: none;
  box-shadow: 0px 0px 8px white
}

input[type="hidden" i] {
  height: 5px;
}

.renderComment {
  position: relative;
  width: 81%;
  padding: 10px 50px;
  box-shadow: 0px 0px 6px white;
  overflow: auto;
  max-height: 300px;
  height: 300px;
  background-color: rgb(48, 3, 93);
  left: 23px;
  border: solid 5px black;
}

.comments h3 {
  position: relative;
  bottom: 30px;
}

.comment {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: -12px;
  box-shadow: 0px 0px 10px black;
  filter: drop-shadow(0px 0px 2px white);
}

.comment p {
  margin: 5px 0;
}

form {
  margin-top: 20px;
}

.section a {
  text-decoration: none;
  color: #fff;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.section a:hover {
  color: black;
  background-color: #EEC3C2;
}

h1 {
  text-align: center;
  color: white;
}

.postContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.post {
  background-color: #EEC3C2;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  height: 50%;
  max-height: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 40px;
  overflow: auto;
}

.post:hover {
  transform: translateY(-5px);
}

.capTion {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
}

#Caption{
  font-size: 25px;
  font-family: 'Bookman Old Style';
  letter-spacing: 3px;
  font-weight: bold;
}

.postCon {
  display: flex;
  align-items: center;
  position: relative;
  top:20px;
  margin-bottom: 10px;
  width: 54%;
  height: 85%;
  top: 56px;
  right: 160px;
}

.defaultimgBox{
  height: 400px;
  width: 400px;
  position: relative;
  display: flex;
  left: 210px;
}
.defaultimgBox img{
  height: 100%;
  width: 100%;
  background-size: cover;
}

.imgBox{
  height: 400px;
  width: 400px;
  position: relative;
  display: flex;
  left: 210px;
}

.imgBox img{
  height: 100%;
  width: 100%;
  background-size: cover;
}

#reactBtn{
  width: 72px;
  height: 72px;
  position: relative;
  bottom: 99px;
  border-radius: 50%;
  font-size: 49px;
  filter: drop-shadow(2px  4px 6px black);
  left: 350px;
}

.reactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
  left: 350px;
  bottom: 94px;
}

.reactions form button {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #ff0000;
  transition: color 0.3s ease;
}

.reactions form button:hover {
  color: #cc0000;
}

.reactions span {
  font-size: 16px;
  color: #777;
}
